# OS
.DS_Store
Thumbs.db

# Env files
**/.env
**/.claude
**/.claude-images
**/.env.local
**/.env.*.local

# Node / Next.js
**/node_modules/
**/.next/
**/.turbo/
**/.cache/
**/.vercel/
# dependencies
**/node_modules

# PHP / Laravel
**/vendor/

# Logs & misc
**/storage/logs/
**/storage/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*